@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Color+Emoji&family=Yeseva+One&display=swap');
*{
    margin: 0;
    color: white;
    font-family: "Yeseva One";
    
}

/*remove if update
.showno{
    display: none;
}*/
.finish{
    display: block;
   }








body{
    background-color: black;
}
.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
   }
   
   .spinner > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }
   .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* adjust height as needed */
  }
  
  .spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
  }
  
  .text-container {
    margin-top: 10px; /* add spacing between spinner and text */
    text-align: center;
  }
  
  h1 {
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    user-select: none;
  }
  
  
   .center{
    display: flex;
    justify-content: center;
    align-items: center;
    
   }

   h1{
    font-weight: 400;
   }

   .h11{
    text-align: center;
   }


